html, body {
  background-color: #000;
  overflow: hidden;
}

.lift-cincy-temp-hero-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lift-cincy-landing-logo {
  width: 144px;
  transform: translateX(-12px);
}